# --------------------------------------------------
# Operating System Files
# --------------------------------------------------
.DS_Store
Thumbs.db

# --------------------------------------------------
# VS Code
# --------------------------------------------------
.vscode/

# --------------------------------------------------
# Python
# --------------------------------------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd
.venv/
venv/
env/

# --------------------------------------------------
# Logs
# --------------------------------------------------
*.log

# --------------------------------------------------
# Environment Variables
# --------------------------------------------------
.env
.env.*

# --------------------------------------------------
# AWS Credentials
# --------------------------------------------------
.aws/
credentials
config

# --------------------------------------------------
# Terraform (Future Labs)
# --------------------------------------------------
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# --------------------------------------------------
# IDE Files
# --------------------------------------------------
.idea/

# --------------------------------------------------
# Archives
# --------------------------------------------------
*.zip
*.tar
*.gz

# --------------------------------------------------
# Temporary Files
# --------------------------------------------------
*.tmp
*.bak